/*General*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200&family=Poppins:wght@100&display=swap');

/*Code below (html, body) is taken from URL: https://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll */
html, body {
	max-width: 100%;
	overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
	border: none;
}
body {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	background-color: ##84828;
	scroll-behavior: smooth;
}

#loginDiv {
    border: 5px solid;
    text-align:center;
}

h1, h2, h3 {
	font-family: "Bebas", Neue sans-serif;
}
p {
	font-family:"Poppins", sans-serif;
}
.header {
	height: 74px;
	width: 100%;
	background-color: #A2AD91;
	padding: 15px;

}
/* header */
#menu {
    line-height: 60px;
    font-size: 10%
    letter-spacing: 4px;
    	background-color: #A2AD91;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    color: #161616;
}

#menu a {
    font-size: xx-large;
    text-decoration: none;
    color: #161616;
}

#menu a:hover {
    color:aqua;
}

/*table */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.10);
}

th, td {
    padding: 12px 15px;
    text-align: left;
}



th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.tableClass {
}


/* footer */
footer {
	height: 150px;
	margin: 10px;
}
.socials {
	text-align: center;
}

.socials > li {
	display: inline;
}
.socials i {
	font-size: 200%;
	margin: 1%;
	padding: 4%;
	color: #161616
}
.fa-youtube:hover {
	color: #FF0000;
}
.fa-square-twitter:hover {
	color: #1DA1F2;
}
.fa-facebook:hover {
	color: #4267B2;
}
.fa-instagram:hover {
	color: #833AB4;
}
.foot {
	text-align: center;
	position: relative;
	top: 50px;


/* header */
#menu, #logo {
	line-height: 75px;
}
#logo {
	float: left;
	margin-left: 50px;
	font-size: 380%;
	text-decoration: none;
	color: #161616;
}